.anime_div, .anime_secdiv{
  position: relative;
  width: 200px;
  height: 200px;
  background-color: purple;
  left: 15px;
  top: 15px;
  margin-top: 20px;
}
.titleBox{
  font-size: 15px;
  color: white;
  position: relative;
  padding-top: 90px;
  text-align: center;
}
.container{
  position: relative;
  width: 50%;
  height: auto;
  margin-left: 25%;
}
.threecanvas{
  position: relative;
  margin-top: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 100%;
  background-color: purple;
}
.gsap_div, .gsap_secdiv{
  position: relative;
  width: 200px;
  height: 200px;
  background-color: green;
  left: 15px;
  top: 15px;
  margin-top: 20px;
}
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
